body {
    background-color: #fff3e6; 
    font-family: optima, sans-serif;
}
.home {
    position: relative;
    text-align: center;
    height: 120px;
}

p {
    font-family: optima, sans-serif;
    color: #994d00;
}

/* INTRO */
h1 {
    margin: auto;
    padding: 10px;
    font-size: 3vw;
    font-family: optima, sans-serif;
    color: #994d00;
    font-weight: 350;
}
#pic {
    border-radius: 25px;
    width: 30%;
    height: auto;
    position: relative;
    left: 30%;
    box-shadow: -10px 10px 1px #994d00;

}
.intro .name {
    position: relative;
    left: 30%;
}

.intro .rotatedtext {
    color: #446600;
    font-size: 1.3vw;
    position: relative;
    left: 26%;
    display: inline-block;
    white-space: nowrap;
    transform-origin: 0 0;
    transform: rotate(270deg);
    /* text-align: left; */
    width: 0;
    margin: 0;
}

/* ABOUT ME */

.aboutme{
    position: relative;
    text-align: center;
}

#torontopic {
    width: 100%;
    z-index: 0;
    opacity: 0.4;
}
.aboutme .aboutmetitle {
    position: absolite;
    top: 5%;
    left: 16%;
}
.aboutme .aboutmecontent {
    position: relative;
    top: 5%;
    left: 10%;
    font-family: optima, sans-serif;
    color: #994d00;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    overflow: hidden;
    background-color: #333;
}
#content {
   margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav {
    background-color: #fff3e6;
    overflow: hidden;
    font-size: 50px;
    font-family: optima, sans-serif;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000066;
  text-align: center;
  padding: 21px 24px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #994d00;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.column {
    width: 30%;
    padding: 5px;
    display: inline-block;
}
.row::after{
    content: "";
    clear:both;
    display: table;
}

p {
    color:#000033;
    font-family: optica, sans-serif;
}

#greeting-container {
  margin-top: 60px;
}
