body {
    background-color: #fff3e6; 
    font-family: optima, sans-serif;
}
.home {
    position: relative;
    text-align: center;
    height: 120px;
}

p {
    font-family: optima, sans-serif;
    color: #994d00;
}

/* INTRO */
h1 {
    margin: auto;
    padding: 10px;
    font-size: 3vw;
    font-family: optima, sans-serif;
    color: #994d00;
    font-weight: 350;
}
#pic {
    border-radius: 25px;
    width: 30%;
    height: auto;
    position: relative;
    left: 30%;
    box-shadow: -10px 10px 1px #994d00;

}
.intro .name {
    width: 30%;
    position: relative;
    left: 30%;
}

.intro .rotatedtext {
    color: #446600;
    font-size: 1.3vw;
    position: relative;
    left: 26%;
    display: inline-block;
    white-space: nowrap;
    transform-origin: 0 0;
    transform: rotate(270deg);
    /* text-align: left; */
    width: 0;
    margin: 0;
}

/* ABOUT ME */

.aboutme{
    position: relative;
    text-align: center;
}

.imgcontainer {
    width: cover;
    overflow: hidden;
    margin: 0;
}
#torontopic {
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
    opacity: 0.3;
    margin: -11% 0;
}
.aboutme .aboutmetitle {
    font-size: 3.1vw;
    color: #4d1a00;
    position: absolute;
    top: 5%;
    left: 8%;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.aboutMeText {
    position: absolute;
    text-align: left;
    top: 10%;
    left: 8%;
    font-size: 1.2vw;
    font-family: optima, sans-serif;
    color: #4d4d4d;
}

h4 {
    font-size: 1.6vw;
    color: #0086b3;
    background: rgb(196, 108, 108);
    background: rgba(0, 0, 0, 0.7);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

h5 {
    font-size: 1.2vw;
}

h6 {
    font-size: 1vw;
    font-weight: 100;
    margin: auto;
}
.goal {    
    height: 32.5%;
    width: 10%;
    text-align: left;
    font-size: 1vw;
    position: absolute;
    color: #99e6ff;
    top: 35%;
    left: 20%;
    background: #404040;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    border-radius: 20px;
    box-shadow: -10px 10px 1px #8c8c8c;
}
.skills {
    height: 35.5%;
    width: 10%;
    position: absolute;
    color: #99e6ff;
    top: 35%;
    left: 43%;
    background: #404040;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 20px;
    box-shadow: -10px 10px 1px #8c8c8c;
}

.resume {
    width: 10%;
    height: 22.5%;
    text-align: center;
    font-size: 1.2vw;
    position: absolute;
    color: #99e6ff;
    top: 35%;
    left: 65%;
    background: #404040;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7.5%;
    border-radius: 20px;
    box-shadow: -10px 10px 1px #8c8c8c;
}

.resumebutton {
    background-color: #404040;
    color: #99e6ff;
    font-size: 1.2vw;
    font-family: optima, sans-serif;
    font-weight: 1000;
    border: none;
}

/* PROJECTS */

.projects{
    position: relative;
    text-align: center;
}

.imgcontainer {
    width: cover;
    overflow: hidden;
    margin: 0;
}
#torontopic2 {
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
    opacity: 0.8;
    margin: -11% 0;
}
.projects .projectsTitle {
    font-size: 3.1vw;
    color: #d9b38c;
    position: absolute;
    top: 5%;
    left: 8%;
}

.snakeGame {   
    height: 32.5%;
    width: 10%;
    text-align: left;
    font-size: 1vw;
    position: absolute;
    color: #99e6ff;
    top: 35%;
    left: 20%;
    background: #404040;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    border-radius: 20px;
    box-shadow: -10px 10px 1px #8c8c8c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    overflow: hidden;
    background-color: #333;
}
#content {
   margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav {
    background-color: #fff3e6;
    overflow: hidden;
    font-size: 50px;
    font-family: optima, sans-serif;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000066;
  text-align: center;
  padding: 21px 24px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #994d00;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

p {
    color:#000033;
    font-family: optica, sans-serif;
}

#greeting-container {
  margin-top: 60px;
}
